<!DOCTYPE html>
<html>
<head>
    <title>Bloomify Cart 🛒</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="background:#fff0f5; text-align:center;">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="toast" style="
    position:fixed;
    top:90px;
    right:25px;
    background:#d63384;
    color:white;
    padding:15px 22px;
    border-radius:12px;
    font-size:16px;
    font-weight:bold;
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
    z-index:9999;
">
    {{ messages[0] }}
</div>
    
   
    {% endif %}
{% endwith %}

<h1 style="color:#d63384;">
🛒 Your Bloomify Cart
</h1>

{% if flowers %}

<h2>Selected Flowers 🌸</h2>

{% for flower in flowers %}

<div style="background:white; width:250px; margin:20px auto; padding:15px; border-radius:15px; box-shadow:0 4px 10px lightgray;">

  {% if flower.image %}
    <img src="/static/images/{{ flower.image }}" width="150">
{% endif %}

    <h3>{{ flower.name }}</h3>
    
    

<p>
Quantity:

<a href="/decrease/{{ loop.index0 }}">
<button style="
background:#ffb6c1;
border:none;
padding:5px 10px;
border-radius:10px;">
➖
</button>
</a>

{{ flower.get('quantity', 1) }}

<a href="/increase/{{ loop.index0 }}">
<button style="
background:#90ee90;
border:none;
padding:5px 10px;
border-radius:10px;">
➕
</button>
</a>

</p>


<p style="
background:#ffe4ec;
color:#d63384;
display:inline-block;
padding:8px 16px;
border-radius:20px;
font-weight:bold;
font-size:20px;">
₹{{ flower.price * flower.get('quantity', 1) }}
</p>
    
<br><br>

<a href="/remove/{{ loop.index0 }}">
    <button style="
        background:#dc3545;
        color:white;
        border:none;
        padding:10px 20px;
        border-radius:20px;
        cursor:pointer;">
        🗑 Remove
    </button>
</a>

</div>

{% endfor %}

{% else %}

<h2>Your cart is empty 😢</h2>

{% endif %}


<hr style="width:300px;">

<h2 style="color:#d63384;">
    Total Amount: ₹{{ total }}
</h2>


<br>
<br><br>

<a href="/checkout">
    <button style="
        background:#28a745;
        color:white;
        border:none;
        padding:12px 25px;
        border-radius:25px;
        font-size:18px;
        cursor:pointer;">
        ✅ Checkout
    </button>
</a>
<a href="/home">Continue Shopping 🌸</a>


</body>
</html>
