<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Wishlist ❤️</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<nav class="navbar">
    <div class="logo">🌸 Bloomify</div>

    <div class="nav-links">
        <a href="/home">🏠 Home</a>
        <a href="/wishlist">❤️ Wishlist</a>
        <a href="/cart">🛒 Cart</a>
    </div>
</nav>

<h1 style="text-align:center; color:#d63384; margin-top:30px;">
    ❤️ My Wishlist
</h1>

{% if flowers %}

<div class="flower-container">

{% for flower in flowers %}

<div class="flower-card">

    <img src="/static/images/{{ flower.image }}" alt="{{ flower.name }}">

    <h3>{{ flower.name }}</h3>

    <div class="price-section">
        <span class="new-price">₹{{ flower.price }}</span>
    </div>

    <p class="offer">🔥 {{ flower.offer }}</p>

    <div class="rating">
        {{ flower.rating }}
        <span>({{ flower.reviews }} Reviews)</span>
    </div>

    <a href="/flower-details/{{ flower.name }}" class="details-btn">
        👀 View Details
    </a>

    <a href="/add/{{ flower.name }}">
        <button>Add to Cart 🛒</button>
    </a>
    <a href="/remove-wishlist/{{ flower.name }}">
    <button class="remove-btn">
        🗑 Remove
    </button>
</a>
</a>

</div>

{% endfor %}

</div>

{% else %}

<h2 style="text-align:center; color:gray; margin-top:80px;">
    ❤️ Your Wishlist is Empty
</h2>

<div style="text-align:center;">
    <a href="/home">
        <button style="
            padding:12px 30px;
            background:#d63384;
            color:white;
            border:none;
            border-radius:25px;
            cursor:pointer;
            font-size:16px;">
            🌸 Continue Shopping
        </button>
    </a>
</div>

{% endif %}

</body>
</html>